<div id="clock">
  <h2>Hello !</h2>
  <div id="content">
    <div id="date"></div>
    <div id="time" onchange="clock()">
      <span id="hour">00</span><span> : </span> <span id="minute">00</span
      ><span> : </span>
      <span id="second">00</span>
    </div>
  </div>
</div>
